h3{
    color:#06c;
    margin-bottom: 20px;
}
label{
    color:#0c4daf;
}
input{
    margin-bottom:20px ;
}

input, button {
    outline: none !important;
}
.search-container input:focus,
.search-container textarea:focus,
.search-container select:focus{
    outline: none;
    border-color: #127679;
    box-shadow: 0 0 5px #127679;
    background-color: #fff;
}

.search-icon {
    color: #06c;
    font-size: 20px;
    
}
.custom-label{
    color:#0d969b;
    font-weight: bold;
    font-size: 22px;
    display: flex;
    flex-direction: column;

}
.custom-input,.form-control{
    color:#0d969b;
    border-radius: 1;
    display: flex;
    flex-direction: column;
}
.custom{
    font-size:20px;
    font-weight: bold;
}
.date,#nome::placeholder,#cognome::placeholder,#file,#codiceFiscale::placeholder,#note::placeholder{
    color:#0d969b;
}
/* Stile per il testo aggiuntivo (nome/cognome dal database) */
.info-database {
    color: #0d969b; /* Stesso colore delle label */
    font-weight: bold;
    font-size: 16px; /* Dimensione leggermente più piccola rispetto alla label */
    display: block; /* Posiziona il contenuto sotto la label */
    margin-top: 5px; /* Spazio tra la label e il valore */
}

.dossier-name{
    color:#06c;
    margin-top: 0px; /* Mantieni il margine superiore a 0 */
    margin-bottom: 20px;
    font-size: 18px; /* Dimensione leggermente più piccola, se necessario */
}

.btn-success{
    background-color: #0d969b;
}
.btn-success:disabled{
    background-color: #2bbec3;
    color:white;
}

.btn-success:hover{
    background-color: #0d6e72;
}

/* Stile per la card */
.card {
    
    background-color: #ffffff; /* Sfondo bianco per la card */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aggiunta ombra per la card */
    padding: 20px;
    margin-top: 150px;
    margin-bottom: 50px;

}

/* Pulsante back */
.back {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    color: #06c; 
    background-color: transparent;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 7px;
}

.back:hover {
    background-color: #0d6efd;
    color: #dcf1fd;
}

/* Personalizzazione del pulsante di ricerca */
.btn-custom{
    background-color: #06c; 
    color: #ffff;
    border: none;
}
.btn-custom:disabled{
    background-color: #2282e3;
    color: #ffffff;

}

.btn-custom:hover {
    background-color: #3287e2;
    color:#dcf1fd;
}

/* Margini */
.ms-2 {
    margin-left: 10px;
}

.mt-2 {
    margin-top: 10px;
    font-weight: bold;
}

.mt-3 {
    margin-top: 15px;
}

.mb-3 {
    margin-bottom: 15px;
}

/* Griglia Bootstrap */
.row {
    margin-top: 10px;
}

.col-12 {
    padding: 0 10px;
}
