body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1{
    color:#06c;
}




/* Container per le card */
#card-container {
    display: flex;
    justify-content: center;
    margin:20px;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

/* Stili per le card */
.dossier-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 15px;
    margin-bottom: 50px;
    max-width: 280px; 
    
}

/* Immagine della card */
.dossier-card img {
    max-height: 180px;
    object-fit:cover;
    width: 100%;
    margin-top: 10px;
    display: block; /* Elimina spazi bianchi extra */

}

.dossier-card button{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: #06c;
    color: #fff;
    font-size: 22px;
}
/* Titolo della card */
.dossier-card h5,h4{
    font-size: 22px !important;
    color: #06c !important; 
    margin-bottom: 0px !important;
}

.dossier-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dossier-card:hover {
    transform: scale(1.03); /* Ingrandisce la card del 5% */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Aggiunge un'ombra */
}
