.custom {
    margin-top: 50px;
    border-radius: 15px;
    border: 1px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Ombra leggera */
    background-color: #f0f8ff; /* Sfondo chiaro */
    width: 100%; /* Imposta la larghezza al 80% del contenitore */
    max-width: 700px; /* Larghezza massima per evitare che la card sia troppo larga */
    margin: 50px auto; /* Centra la card orizzontalmente */
    height: 550px; /* Imposta un'altezza fissa per la card (puoi modificarla) */
}

/* Imposta il colore blu per il testo */
.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; /* L'altezza della card è ora 100% */
    flex-direction: column;
}

/* Centra il titolo e paragrafi */
.custom h1,p{
    color: #06c;
    text-align: center;
}
.custom h1{
    margin-top: 20px;
    margin-left: 80px;
    align-items: center;
    display: flex;
    justify-content:space-between ;
}

/* Pulsante back */
.back {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    color: #06c; 
    background-color: transparent;
    margin:20px;
    margin-top: 30px;
    padding: 5px;
}
.back:hover{
    background-color: #06c;
    color: #dcf1fd;
}
